<dom-module id="login-component-styles">
    <template>
        <style>
            :host {
                color: white;
                --paper-input-container-color: #9E9E9E;
                --paper-input-container-focus-color: #00b4f0;
                --paper-input-container-input-color: white;
            }

            .center {
                width: 300px;
                margin: 0 auto;
            }

            .lightBlue {
                background-color: #00b4f0!important;
            }

            .hidden {
                display: none;
            }
            
            #header {
                position:relative;
                background-color: #33383a;
                width: 100%;
                height: 35%;
                border-bottom: 1px solid #ff3a39;
                transition: all 1s; 
            }

                #header h1 {
                    color: #FFFFFF;
                    font-size: 24px;
                    font-weight: 300;
                    width: 300px;
                }

            #panelLogin {
                background-color: #33383a;
                margin: 0 auto 16px;
                width: 300px;
            }

            #body {
                background-color: #33383a;
                width: 100%;
                height: 65%;
                border-top: 1px solid #ff3a39;
                transition: all 1s;
            }

            #buttonEnter {
                margin: 20px 0 0 -0px;
            }

            #title{
                position: absolute;
                bottom: 0;
            }

            

            #msgError {
                --paper-toast-background-color: #D32F2F;
                --paper-toast-color: white;
            }

            #msgSuccess {
                --paper-toast-background-color: #4CAF50;
                --paper-toast-color: white;
            }


            /** Animations **/
            .moveUp {
                -ms-transform: translate(0, -100%); /* IE 9 */
                -webkit-transform: translate(0, -100%); /* Safari */
                transform: translate(0, -100%);
            }

            .moveDown {
                -ms-transform: translate(0, 100%); /* IE 9 */
                -webkit-transform: translate(0, 100%); /* Safari */
                transform: translate(0, 100%);
            }
            /** End Animations **/
        </style>
    </template>
</dom-module>