<dom-module id="card-game-styles">
    <template>
        <style>
            :host {
            }

            paper-item {
                border-bottom: 1px solid rgba(158, 158, 158, .5);
            }

            .avatarRed {
                width: 35px;
                height: 35px;
                background-color: #F44336;
                border-radius: 50%;
                margin: 0 10px 0 0;
                float: left;
            }

            .avatarGreen {
                width: 35px;
                height: 35px;
                background-color: #8BC34A;
                border-radius: 50%;
                margin: 0 10px 0 0;
            }

            .fontGreen {
                color: #8BC34A;
            }

            .fontRed {
                color: #F44336;
            }

            .yellow {
                color: #FFEB3B;
            }

            .red {
                color: #F44336;
            }

            .green {
                color: #8BC34A;
            }

            .blue {
                color: #2196F3;
            }

            .colRival {
                text-align: center;
                width: 30%;
            }

            .colState {
                text-align: center;
                width: 15%;
            }

            .colInitGame {
                text-align: center;
                width: 15%;
            }

            .colLastMove {
                text-align: center;
                width: 15%;
            }

            .colOptions {
                text-align: center;
                width: 25%;
            }

            .campRival {
                text-align: center;
                width: 30%;
            }

            .modal {
                border-top: 10px solid #F44336;
            }

            #card {
                margin-top: 20px;
                width: 300px;
            }

            paper-card.white {
                --paper-card-header-color: red;
            }

            .avatarGreen {
                width: 35px;
                height: 35px;
                background-color: #8BC34A;
                border-radius: 50%;
            }

            paper-icon-item {
                margin: -10px 0 0 -15px;
            }
        </style>
    </template>
</dom-module>