
<link rel="import" href="..\bower_components\vaadin-grid\vaadin-grid.html">
<link rel="import" href="..\bower_components/iron-icons/iron-icons.html">
<link rel="import" href="..\bower_components\paper-toolbar\paper-toolbar.html">
<link rel="import" href="..\bower_components\paper-icon-button\paper-icon-button.html">
<link rel="import" href="..\bower_components\paper-dialog\paper-dialog.html">
<link rel="import" href="..\bower_components\paper-input\paper-input.html">
<link rel="import" href="..\bower_components\paper-button\paper-button.html">
<link rel="import" href="..\bower_components\paper-fab\paper-fab.html">
<link rel="import" href="..\bower_components\paper-listbox\paper-listbox.html">
<link rel="import" href="..\bower_components\paper-item\paper-item.html">
<link rel="import" href="..\bower_components\paper-item\paper-icon-item.html">
<link rel="import" href="..\bower_components\paper-material\paper-material.html">
<link rel="import" href="..\bower_components\paper-drawer-panel\paper-drawer-panel.html">
<link rel="import" href="..\bower_components\iron-icon\iron-icon.html">
<link rel="import" href="..\bower_components\iron-icons\social-icons.html">
<link rel="import" href="..\bower_components\iron-icons\communication-icons.html">
<link rel="import" href="..\bower_components\paper-dropdown-menu\paper-dropdown-menu.html">
<link rel="import" href="..\card-game\card-game.html">
<link rel="import" href="menu-component-styles.html">

<dom-module id="menu-component">

    <style is="custom-style" include="menu-component-styles"></style>

    <template>
        <paper-drawer-panel id="paperDrawerPanel" force-narrow>
            <div drawer>
                <button tabindex="0" paper-drawer-toggle>Close drawer</button>
            </div>
            <div main>
                <paper-toolbar>
                    <paper-icon-button icon="icons:menu" paper-drawer-toggle></paper-icon-button>
                    <span class="title">Title</span>
                    <paper-button onclick="toggleModal('modal1')">Info</paper-button>
                    <paper-button on-click="_finish">Logout</paper-button>
                </paper-toolbar>


                <paper-material elevation="1">
                    <paper-item>
                        <div class="colRival"> Rival </div>
                        <div class="colState"> State game </div>
                        <div class="colInitGame"> Init game </div>
                        <div class="colLastMove"> Last Mov. </div>
                        <div class="colOptions"> Options </div>
                    </paper-item>
                </paper-material>

                <div id="contentGames">
                    <!--
                    <card-game username = "Pedro Sanchez" state="your move"></card-game>
                    <card-game></card-game>
                        -->
                </div>
                
                <paper-fab id="paper-fab" icon="add" title="add"></paper-fab>
                <div id="reminderNewGame">
                    <div id="textReminderNewGame">Click to create a New Game! </div>
                </div>
            </div>
        </paper-drawer-panel>


        <!-- Ventanas modales -->
        <!-- Crear partida -->
        <paper-dialog id="createGameModal" modal>
            <h2>New Game</h2>

            <paper-button id="buttonRandomOpponent" class="blue">Random opponent</paper-button>

            <paper-input label="Search users" id="inputSearchUser">
                <paper-icon-button suffix  icon="search" alt="search" title="search"></paper-icon-button>
                <paper-icon-button suffix  icon="clear" alt="clear" title="clear"></paper-icon-button>
            </paper-input>

            <paper-dropdown-menu id="" label="Color">
                <paper-listbox selected="0" class="dropdown-content">
                    <paper-item> White </paper-item>
                    <paper-item> Black </paper-item>
                    <paper-item> Random </paper-item>
                </paper-listbox>
            </paper-dropdown-menu>

            <paper-dropdown-menu id="" label="Time">
                <paper-listbox selected="0" class="dropdown-content">
                    <paper-item> 5 min </paper-item>
                    <paper-item> 1 hour </paper-item>
                    <paper-item> 1 day </paper-item>
                    <paper-item> Unlimited </paper-item>
                </paper-listbox>
            </paper-dropdown-menu>

            <paper-dropdown-menu id="" label="Type Game">
                <paper-listbox selected="0" class="dropdown-content">
                    <paper-item> Standard </paper-item>
                    <paper-item> CrazyHouse </paper-item>
                    <paper-item> Chess960 </paper-item>
                    <paper-item> Atomic </paper-item>
                </paper-listbox>
            </paper-dropdown-menu>

            <div class="buttons">
                <paper-button id="buttonCancelRegister">Cancel</paper-button>
                <paper-button id="buttonCreateRegister" onclick="">Create</paper-button>
            </div>
        </paper-dialog>
        
        <!-- Aux. components -->
        <toast-component></toast-component>

    </template>
    <script>

        Polymer({

            is: 'menu-component',

            properties: {

            },

            attached: function () {
                document.addEventListener('initSession', function (evt) { this._init(evt.detail) }.bind(this));
                this.$$("#paper-fab").addEventListener('click', function () { this._toggleModal('createGameModal') }.bind(this));
                this.$$("#buttonCancelRegister").addEventListener('click', function () { this._toggleModal('createGameModal') }.bind(this));
                //this.$$("#buttonRandomOpponent").addEventListener('click', function () { this._getRandomUser() }.bind(this));
                //this.$$(".buttonRemoveGame").addEventListener('click', function () { this._toggleModal('modalRemoveGame') }.bind(this));

                    this.$$("#paper-fab").addEventListener('click', function () {
                       // this.$$("#reminderNewGame").classList.toggle("inflateReminderNewGame");
                       // this.$$("#paper-fab").classList.add('beat');
                }.bind(this));
            },

            _init: function (cfgInit) {
                //this.style.visibility = "visible";

                var socket = io.connect('http://localhost:3000', { 'forceNew': true });

                socket.on('respondGetListGames', function (msg) {
                    switch (msg.type) {
                        case 200:
                            this._inflateListGames(msg.data.games);
                            break;
                        case 400:
                            this._showToast("error", "Error con la conexión al servidor");
                            break;
                    }
                }.bind(this))

                socket.emit('getListGames', { userName: cfgInit.userName });
            },

            _finish: function () {
                // Activar login
                this.fire('closeSession');
            },

            _toggleModal: function (id) {
                document.querySelector("#" + id).toggle();
            },

            _getRandomUser: function () {
                var socket = io.connect('http://localhost:3000', { 'forceNew': true });

                socket.on('respondGetRandomUser', function (msg) {
                    switch (msg.type) {
                        case 200:
                            this._enter();
                            break;
                        case 400:
                            this._showToast("error", "Error con la conexión al servidor");
                            break;
                    }
                }.bind(this))

                socket.emit('getRandomUser', {});
            },

            _remove: function () {
                var parent = Polymer.dom(this).parentNode;
                Polymer.dom(parent).removeChild(this);
            },

            _inflateListGames: function (listGames) {

                console.log(listGames)
                this.$.contentGames.innerHTML = "";
                for (var i = 0; i < listGames.length; i++) {
                    var cardGame = document.createElement("card-game");
                    cardGame.creator = listGames[i].nameCreator;
                    cardGame.follower = listGames[i].nameFollow;
                    cardGame.initgame = listGames[i].createdAt;
                    cardGame.lastmov = listGames[i].updateAt;
                    cardGame.type = listGames[i].type;
                    cardGame.turn = listGames[i].turn;
                    cardGame.board = listGames[i].board;
                    this.$.contentGames.appendChild(cardGame);
                }
            },
            _goToBoard: function () {
            var node = document.createElement("board-chess");
            node.board = this.board;
            document.body.appendChild(node);
        }
        });

    </script>
</dom-module>