<dom-module id="board-chess-styles">
    <template>
        <style>
            :host {
            }

            paper-toolbar {
                background: #33383a !important;
            }

            #board {
                width: 100%;
            }

            #paperDrawerPanelChess {
                visibility: hidden;
                width: 100%;
                height: 100%;
                background-color: white;
            }

            #contentBoard {
                margin: 30px auto;
                max-width: 500px;
                width: 100%;
                min-width: 300px;
            }
        </style>
    </template>
</dom-module>