<script src="..\bower_components\jquery\dist\jquery.min.js"></script>
<script src="..\bower_components/chessboard-js\js\chessboard.js" ></script>
<script src="chess.js"></script>
<link rel=StyleSheet href="..\bower_components/chessboard-js\css/chessboard.css" type="text/css">
<dom-module id="board-chess">
    <style>
        :host {
        }

        paper-toolbar {
                background: #33383a !important;
            }
        #board {
            width: 100%;
        }

        #paperDrawerPanelChess {
            visibility: hidden;
            width: 100%;
            height: 100%;
            background-color: white;
        }

        #contentBoard{
            margin: 30px auto;
            max-width: 500px;
            width: 100%;
            min-width: 300px;
        }
    </style>

    <template>
        <paper-drawer-panel id="paperDrawerPanelChess" force-narrow>
            <div drawer>
                <button tabindex="0" paper-drawer-toggle>Close drawer</button>
                asd
            </div>
            <div main>
                <paper-toolbar>
                    <paper-icon-button icon="icons:menu" paper-drawer-toggle></paper-icon-button>
                    <span class="title">Title</span>
                    <paper-button>Info</paper-button>
                    <paper-button id="buttonBackToMenu">Back</paper-button>
                </paper-toolbar>
                
                <paper-material id="contentBoard" elevation="1">
                    <div id="board"></div>
                </paper-material>
                                
            </div>
        </paper-drawer-panel>

    </template>
    <script>

        Polymer({

            is: 'board-chess',

            properties: {
                board: String
            },

            attached: function () {
               //var board = new Chessboard('board', this.board);
                //this.$.board.addEventListener('click', function () { console.log(board.getPosition(ChessUtils.FEN.id)) });
                this.$.buttonBackToMenu.addEventListener('click', function () { this._backToMenu() }.bind(this));
                document.addEventListener('loadBoardChess', function (evt) { this._loadGame(evt.detail.board) }.bind(this))
            },

            _loadGame: function (board) {
                this.$.paperDrawerPanelChess.style.visibility = 'visible';
                var chess = new Chess();
                chess.load('r1bqk2r/pppppN1p/2n2npb/8/8/2N5/PPPPPPPP/R1BQKB1R w KQkq - 1 5');
                var board = new Chessboard('board', {
                    position: 'r1bqk2r/pppppN1p/2n2npb/8/8/2N5/PPPPPPPP/R1BQKB1R w KQkq - 1 5',
                    eventHandlers: {
                        onPieceSelected: pieceSelected,
                        onMove: pieceMove
                    }
                });
                


                function resetGame() {
                    board.setPosition(ChessUtils.FEN.startId);
                    chess.reset();

                    updateGameInfo('Next player is white.');
                }

                function updateGameInfo(status) {
                    $('#info-status').html(status);
                    $('#info-fen').html(chess.fen());
                    $('#info-pgn').html(chess.pgn());
                }

                function pieceMove(move) {

                    var nextPlayer,
                      status,
                      chessMove = chess.move({
                          from: move.from,
                          to: move.to,
                          promotion: 'q'
                      });


                    nextPlayer = 'white';
                    if (chess.turn() === 'b') {
                        nextPlayer = 'black';
                    }

                    if (chessMove !== null) {
                        if (chess.in_checkmate() === true) {
                            status = 'CHECKMATE! Player ' + nextPlayer + ' lost.';
                        } else if (chess.in_draw() === true) {
                            status = 'DRAW!';
                        } else {
                            status = 'Next player is ' + nextPlayer + '.';

                            if (chess.in_check() === true) {
                                status = 'CHECK! ' + status;
                            }
                        }

                        updateGameInfo(status);
                    }
                    console.log(chess.fen())
                    return chess.fen();
                }

                function pieceSelected(notationSquare) {
                    var i,
                      movesNotation,
                      movesPosition = [];

                    movesNotation = chess.moves({ square: notationSquare, verbose: true });
                    for (i = 0; i < movesNotation.length; i++) {
                        movesPosition.push(ChessUtils.convertNotationSquareToIndex(movesNotation[i].to));
                    }
                    return movesPosition;
                }
            },

            _backToMenu: function () {
                this.$.paperDrawerPanelChess.style.visibility = 'hidden';
            }
        })
    </script>
</dom-module>
