<script src="..\bower_components\jquery\dist\jquery.min.js"></script>
<script src="..\bower_components/chessboard-js\js\chessboard.js" ></script>
<script src="chess.js"></script>
<link rel=StyleSheet href="..\bower_components/chessboard-js\css/chessboard.css" type="text/css">
<link rel="import" href="board-chess-styles.html">

<dom-module id="board-chess">

    <style is="custom-style" include="board-chess-styles"></style>

    <template>
        <paper-drawer-panel id="paperDrawerPanelChess" force-narrow>
            <div drawer>
                <button tabindex="0" paper-drawer-toggle>Close drawer</button>
                asd
            </div>
            <div main>
                <paper-toolbar>
                    <paper-icon-button icon="icons:menu" paper-drawer-toggle></paper-icon-button>
                    <span class="title">Title</span>
                    <paper-button>Info</paper-button>
                    <paper-button id="buttonBackToMenu">Back</paper-button>
                </paper-toolbar>
                
                <paper-material id="contentBoard" elevation="1">
                    <div id="board"></div>
                </paper-material>
            </div>
        </paper-drawer-panel>
    </template>
    
    <style is="custom-style" include="board-chess.js"></style>

</dom-module>
